@import "tailwindcss";

@font-face {
  font-family: "Host Grotesk";
  src: url("./assets/Fonts/HostGrotesk-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Host Grotesk";
  src: url("./assets/Fonts/HostGrotesk-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "Host Grotesk", system-ui, sans-serif;
}

@layer base {
  html,
  body,
  #root {
    height: 100%;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 30px;
    font-family: "Host Grotesk", system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border: 1px solid rgba(0, 0, 0, 0.14);
  }

  [data-tauri-drag-region] {
    app-region: drag;
    -webkit-app-region: drag;
  }

  button,
  input,
  textarea,
  select,
  a {
    app-region: no-drag;
    -webkit-app-region: no-drag;
  }

  textarea {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  textarea::-webkit-scrollbar {
    display: none;
  }
}
